<p id="notice"><%= notice %></p>


<p>
  <b>List:</b>
  <%= simple_format(@list.list) %>
</p>


<h2><%= link_to 'Pick a random item!', {:action => 'random'} %></h2>


<%= link_to 'Edit List', edit_list_path(@list) %> |
<%= link_to 'Delete List', @list, :confirm => 'Are you sure?', :method => :delete %></td>
